@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}

main{
    margin-top: 7rem;
}

section{
    display: flex;
    justify-content: space-evenly;
}

.imagen img{
    height:47rem;
    width: 45rem;
    border-radius: 1rem;
    filter: sepia(1.6);
    filter: saturate(1.8);
}

h1,a,p,input,label{
    font-family: 'Poppins', sans-serif;
}

a,p,input{
    text-decoration: none;
    font-size: 1.2rem;
}



.padre{
    height:47rem;
    width: 35rem;
    border: 0.2rem solid #d9d9d9;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.padre h1{
    text-align: center;
    color: black;
    font-weight: 900;
    margin-bottom: 2rem;
}

.padre .hijo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.hijo .icono{
    width: 5rem;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border: 0.2rem solid #d9d9d9;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;
}


.icono .logo{
    height: 2.5rem;
}

.hijo .icono:hover{
    background-color: #d9d9d9;
    transform: scale(1.1);
}

.continue{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
}

.continue p{
    font-weight: bolder;
    color: black;
}

.continue hr{
    height: 0.05rem;
    background-color: rgb(31, 31, 31);
    width: 8rem;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}

.naranja{
    height: 3rem;
    width: 7.5rem;
    background-color: #FF731C;
    border: 2px solid #FF731C;
    border-radius: 0.5rem;
    padding: 0;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;
}

.naranja:hover{
    background-color: #ff924f;
    border: 2px solid #ff924f;
    transform: scale(1.05);
}

.naranja a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.blanco{
    height: 3rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;
}

.blanco:hover{
    background-color: #d4d4d4;
    border: 2px solid #d4d4d4;
    transform: scale(1.05);
}

.blanco a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
}

form label{
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

form .input{
    color: black;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 0.2rem solid #b1b1b1;
    border-radius: 0.5rem;
    padding-left: 1rem;
    height: 3rem;
    box-sizing: border-box;
    outline: none;
}

.container{
    color: #d9d9d9;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 0.2rem solid #b1b1b1;
    border-radius: 0.5rem;
    height: 3rem;
    align-items: center;
    padding-right: 0.5rem;
    box-sizing: border-box;
}

.container .password{
    border: none;
    outline: none;
    padding-left: 1rem;
    width: 100%;
}

.ojo{
    height: 2rem;
    cursor: pointer;
}

form .forgoten{
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 100%;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;
}

form .forgoten:hover{
    color: #b1b1b1;
}

form div{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

form button{
    height: 3.5rem;
    width: 65%;
    background-color: #FF731C;
    border: 2px solid #FF731C;
    border-radius: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;

}
form button a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

form button:hover{
    background-color: #ff924f;
    border: 2px solid #ff924f;
    transform: scale(1.05);
}

.last{
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.last .account{
    color: black;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;

}
.last .account:hover{
    color: #b1b1b1;
}
.last .Register{
    color: #FF731C;
    text-decoration: underline;
    transition: background-color 0.2s ease, color 0.2s ease,  transform 0.2s ease;

}
.last .Register:hover{
    color: #ff924f;
}


/*RESPONSIVE*/

@media (max-width:1500px){
    
main{
    margin-top: 5rem;
}


.imagen img{
    height:30rem;
    width: 28rem;
}

a,p,input,label{
    font-size: 0.9rem;
}

.padre{
    height:30rem;
    width: 21rem;
    padding: 1.5rem;
}

.padre h1{
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1.2rem;
}

.padre .hijo{
    margin-bottom: 0.5rem;
}

.hijo .icono{
    width: 3rem;
    height: 2rem;
    padding: 0.2rem;
}


.icono .logo{
    height: 1.5rem;
}


.continue{
    margin-bottom: 0.5rem;
}

.continue hr{
    height: 0.05rem;
    width: 4rem;
}


.naranja{
    height: 2.5rem;
    width: 5rem;
}


.blanco{
    height: 2.5rem;
    width: 7.5rem;
}

form label{
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    margin-top: 0.5rem;
}



form .input{
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    height: 2.5rem;
}


.container{
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    height: 2.5rem;
}

.ojo{
    height: 1.5rem;
}

form .forgoten{
    font-size: 0.9rem;
}

form div{
    margin-bottom: 0;
}

form button{
    height: 2.5rem;
    width: 6rem;
    margin-top: 1rem;

}


form button a{
    font-size: 0.9rem;
}

.last{
    margin-bottom: 0;
}



}

@media (max-width:720px){

    section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .imagen {
        display: none;
    }
    
    a,p,input,label{
        font-size: 1.8rem;
    }
    
    .padre{
        height:62rem;
        width: 80%;
        padding: 2rem;
    }
    
    .padre h1{
        margin-bottom: 1rem;
        margin-top: 0;
        font-size: 3.5rem;
    }
    
    .padre .hijo{
        margin-bottom: 2rem;
    }
    
    .hijo .icono{
        width: 6.5rem;
        height: 5rem;
        padding: 0.2rem;
    }
    
    
    .icono .logo{
        height: 4rem;
    }
    
    
    .continue{
        margin-bottom: 2rem;
    }
    
    .continue hr{
        height: 0.05rem;
        width: 6rem;
    }
    
    
    .naranja{
        height: 4.5rem;
        width: 7rem;
    }
    
    
    .blanco{
        height: 4.5rem;
        width: 14.5rem;
    }

    form{
        margin-top: 2rem;
    }
    
    form label{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    
    
    form .input{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        height: 4rem;
    }
    
    
    .container{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        height: 4rem;
    }
    
    .ojo{
        height: 2rem;
    }
    
    form .forgoten{
        font-size: 1.8rem;
    }
    
    form div{
        margin-bottom: 0;
    }
    
    form button{
        height: 4.5rem;
        width: 10rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    
    
    form button a{
        font-size: 1.8rem;
    }
    
    .last{
        margin-bottom: 1rem;
    }
    
}